<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/util.css">

    <title></title>

  </head>
  <body class="next-body">
   <div class="left-side">

     <div class="navbar">

  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/data.ejs">Data</a>
      <a href="http://localhost:3000/d-solo/xAzV4hVVk/h-a-l-t?orgId=1&from=1667627698066&to=1667627998067&panelId=2">Graphical data</a>
      <a href="/contact.ejs">Contact</a>
    </div>
  </div>
</div>
<div class="first">
  <div class="center-1">
    <a class="anchorr"href="/data.ejs">  DATA</a>
    <a class="file-1" href="public/octomap/0001.bt" download>octomap file 1</a>
    <a class="file-2" href="public/octomap/0002.bt" download>octomap file 2</a>

  </div>
</div>

<div class="second">
  <div class="center-2">
    <a class="anchor"href="http://localhost:3000/d-solo/xAzV4hVVk/h-a-l-t?orgId=1&from=1667627698066&to=1667627998067&panelId=2">GRAPHICAL DATA</a>
  </div>

</div>
<div class="third">
  <div class="center-3">
    <a class="anchorrr"href="contact.ejs">    CONTACT</a>
  </div>
</div>

   </div>

  </body>
</html>
